$primary: #1c6152;
$primaryLight: rgba(28, 97, 82, 0.7);
$secondary: #f7f1eb;
$bg: $secondary;

html,
body {
  height: 100%;
  background-color: $bg;
}

body {
  overscroll-behavior-y: none;
  font-family: calluna, serif;
  color: $primary;
}
h1 {
  font-size: 8rem;
  line-height: 100%;
  margin: 0;
  @media (max-width: 480px) {
    font-size: 3.5rem;
  }
  .outline {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}
h2 {
  font-size: 6rem;
  // margin: 40px 0;
  color: $primary;
  margin: 0;

  @media (max-width: 480px) {
    font-size: 3rem;
  }
  .outline {
    -webkit-text-stroke: 1px $primary;
    -webkit-text-fill-color: transparent;
  }
}
p,
a {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  line-height: 125%;
  align-self: flex-start;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

a:visited {
  color: $primary;
}
.writtenBy {
  color: $primaryLight;
  font-size: 2rem;
  margin: 0;
  font-weight: 400;
  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}
img {
  width: 100%;
  max-width: 1024px;
  // height: 100%;
  max-height: 80vh;
  object-fit: cover;
  position: relative;
}
.fullpage-img {
  border-radius: 4px;
  @media (min-width: 768px) {
    width: unset;
    max-width: unset;
  }
}

footer {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  p {
    align-self: unset;
  }
  small a {
    text-decoration: none;
  }
  small a,
  small a:visited {
    color: $primary;
  }
  @media (max-width: 768px) {
    flex-direction: column;
    small a {
      font-size: 1.5rem;
    }
    .logo-container {
      margin-top: 2rem;
    }
  }
}
.mask {
  font-style: italic;
  font-weight: normal;
  // align-self: flex-start;
  // font-size: ;
  line-height: 75%;
  letter-spacing: 0.055em;
}

.logo-container {
  display: grid;
  grid-template-columns: 96px 96px;
  gap: 1rem;

  .logo {
    transition: all 0.3s ease-out;
  }
  .logo:hover {
    transform: scale(1.1);
  }
}

.leaf-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.bigleaf {
  position: absolute;
  left: 15%;
  bottom: -50%;
  width: calc(400px * 1.5);
  height: calc(560px * 1.5);
}
.bottom {
  top: -20%;
  width: unset;
  height: unset;
}

.heading {
  // background-image: url('/src/images/Leaf1.svg');
  // height: 100%;
  position: relative;
  svg {
    position: absolute;
  }
  .leaf1 {
    top: -100%;
    left: -150px;
    transform: translate(0%, 0%);

    @media (max-width: 768px) {
      left: 100px;
    }
  }
}
.leaf2 {
  position: absolute;
  // top: 50%;
  // left: -10%;
  transform: translateY(-50%);
}
.leaf-text {
  position: absolute;
  top: 30px;
  right: 0;
  @media (min-width: 768px) {
    top: 20%;
  }
}
.App {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  .scroll {
    padding: 2vh 0;
    pointer-events: none;
  }
  .img-container {
    width: 700px;
    height: 420px;
    overflow: hidden;
    position: relative;
    margin: 400px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
      margin-top: 200px;
    }
    &:last-child {
      margin-bottom: 200px;
    }
    @media (max-width: 480px) {
      width: 95%;
    }
    img {
      width: 100%;
      position: absolute;
    }
  }
}

.hero {
  width: 800px;
  min-height: 420px;
  overflow: hidden;
  position: relative;
  // margin: 400px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // &:nth-child(1) {
  //   margin-top: 200px;
  // }
  // &:last-child {
  //   margin-bottom: 200px;
  // }
  h1 {
    font-style: italic;
    font-weight: normal;
    // font-size: 192px;
    line-height: 80%;
    letter-spacing: 0.055em;
  }
  ol {
    padding-left: 4rem;
  }
  ol > li {
    font-style: italic;
    font-weight: normal;
    font-size: 40px;
    line-height: 125%;
    letter-spacing: 0.055em;
  }

  @media (max-width: 480px) {
    width: 95%;
  }
}

.container {
  width: 800px;
  height: 800px;
  overflow: hidden;
  position: relative;
  margin: 400px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  img {
    width: 100%;
    position: relative;
  }
  h2 {
    margin-bottom: 0;
  }
  .writtenBy {
    color: $primaryLight;
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    line-height: 125%;
    align-self: flex-start;
  }

  @media (max-width: 480px) {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .hero {
    ol > li {
      font-size: 1.5rem;
    }
  }
}
